<div class="centralizar">

    <span class="negri">Trabalhos que eu já fiz<br><br></span>
    <a class="text3" href="" download="Trabalho Extensionista - Rafael Veiga Santos.pdf">Minha atividade extensionista</a>
        
    <a target="_blank" rel="noopener" href="https://app.powerbi.com/view?r=eyJrIjoiNTRhZTc5NjktZjEzYi00MTQ3LTk5MTAtN2QxOTBhZmJmYzk3IiwidCI6IjBkYTE5MTk4LWRiMmYtNGQzMC04ZDYxLTRmOGFkODk0MmY1ZiJ9">
    <span class="text3">Gráfico Trabalho Extensionista - (Link)</span>
    </a>
    
</div>
