<div class="centralizar">
    <h1><span class="negri">Quem é Rafael?</span></h1>
  </div>

  <div class="content" role="main">
    <p class="text3"> Meu nome é Rafael, tenho 19 anos e sou de Guarulhos-SP. Sou carismático, as vezes impaciente, mas
    sou bem sociável. Gosto muito de coisas relacionadas a tecnologia, mais especificamente em relações a games. Sempre que posso
    estou conhecendo um jogo novo, ou vendo vídeos no YouTube. Também sou muito fâ de futebol, torço para o São Paulo FC (infelizmente rsrs),
    acompanho muito futebol europeu, e minhas ligas favoritas são a alemã e a inglesa.</p><br>
    <p class="text3"> Me dou muito bem trabalhando com softwares, principalmente com banco de dados e programação relacionada a isto.
    Já fiz cursos de analise de dados e BI, utilizando ferramentas de criação de gráficos para empresas, como o Microsoft Power BI.
    Fiz eles porque os tenho como hooby, a organização dos dados e o modo de coloca-los na tela de forma visual é muito encantador
    para mim</p><br>

    </div>