.text3 {
	padding-top:20px;
	padding-left:100px;
	padding-right:100px;
	padding-bottom:50px;
 	font-family: 'Garamond';
	font-size: 30px;
}

.negri{

	font-weight: bold;
	font-size: 50px;
}

.centralizar {

    text-align: center

}