<div class="centralizar"> 
  <p class="negri">Vida Profissional</p>  
  
  <p class="text3"> Cursos:<br>Power BI 32 horas - Hotmart<br>
        Excel do básico ao avançado - Hotmart <br>
        SQL - Softblue </p><br>
      
    <p class="text3">Experiencias profissionais:<br>
      Estágio Aux. Administrativo - Colégio Serrano Guardia - Fevereiro/2020 a Dezembro/2020<br>
      Estágio Suporte Técnico - Colégio Serrano Guardia - Agosto/2021 a Março/2022<br>
      Estágio Adm. Redes - Colégio Serrano Guardia - Abril/2022 a Atualmente<br>
    </p>
      
    </div>
